body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(120deg, #ffe6f0, #ffcccc);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 3s ease-in;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: popUp 4s ease;
  max-width: 90%;
  width: 500px;
}

h1 {
  color: #ff4081;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #444;
}

img {
  width: 500px;
  margin: 40px 0;
  border-radius: 24px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.button {
  display: inline-block;
  padding: 10px 40px;
  background-color: #ff4081;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e91e63;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popUp {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}